<div id="date-view">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">
        <span>
          <% @jalali = JalaliDate.to_jalali(time)%>
          <%= @jalali.year%>/<%= @jalali.month%>/<%= @jalali.day%>
        </span>
        (<%= time.strftime("%F")%>)</h3>
      </div>
      <div class="table-responsive">
        <table class="table card-table table-striped table-vcenter">
          <tbody>
            <%@i = 0%>
            <% (time.beginning_of_day.to_datetime.to_i .. time.end_of_day.to_datetime.to_i).step(1.hour) do |date|%>
            <tr>
              <td class="w-1">
                <div class="tag">
                  <%= Time.at(date).strftime("%H:%M") %>
                </div>
              </td>
              <td id=<%= date%> class="cell">

              </td>
            </tr>
            <%end%>
          </tbody>
          <%= render partial: 'events/event_modal'%>
          <script>
          $('.cell').click(function() {
            var id = jQuery(this).attr("id");
            var time = EpochToDate(id);
            $('#starts_at').val(id);
            $('#event_modal').modal('show');
          });
          </script>
        </table>
      </div>
    </div>
  </div>
