<div id='project-task'>
  <div class="table-responsive">

    <% for milestone in project.milestones.order('created_at desc')%>
    <h6><%= milestone.title%></h6>
    <table class="table table-hover table-outline table-vcenter text-nowrap small">
      <thead>
        <tr>
          <td><i class="fas fa-hashtag"></i></td>
          <td class="w-50"><%=t :title %></td>
          <td></td>
          <td><%=t :deadline %></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% @i =1%>
        <% for task in milestone.tasks.order('deadline asc')%>
        <tr>
          <td><%= @i%><% @i += 1%></td>
          <td ><%= task.title%></td>
          <td></td>
          <td>
            <span>
              <% @jalali = JalaliDate.to_jalali(task.deadline)%>
              <%= @jalali.year%>/<%= @jalali.month%>/<%= @jalali.day%> (<%= task.deadline_time.strftime('%H:%M')%>)
            </span>
          </td>
          <td>
            <%= link_to "/tasks/#{task.id}/destroy", remote: true, class: "icon" ,data: { confirm: t(:are_you_sure) } do %>
            <i class="fe fe-trash"></i>
            <%end%>
            <%= link_to "/tasks/#{task.id}/edit?milestone_id=#{milestone.id}", remote: true, class: "icon" do %>
            <i class="fe fe-edit"></i>
            <%end%>
            <%= link_to "/tasks/#{task.id}", remote: true, class: "icon" do %>
            <i class="fe fe-play"></i>
            <%end%>
          </td>
        </tr>
        <%end%>
      </tbody>
    </table>
    <%end%>
  </div>
</div>
