<div id='project-task'>
  <div class='row'>
    <div class='col-md-7 col-lg-7'>
      <div class="form-group small">
        <label class= "form-label" style='color: #7795c1;'><%=t :title%></label>
        <div class="form-control-plaintext"><%= @task.title %></div>
      </div>
      <div class="form-group small">
        <label class= "form-label" style='color: #7795c1;'><%=t :details%></label>
        <div class="form-control-plaintext text-justify"><%= @task.details %></div>
      </div>
      <div class="form-group small">
        <label class= "form-label" style='color: #7795c1;'><%=t :related_users %></label>
        <% for assignment in Assignment.where(task_id: @task.id)%>
        <span class="tag">
          <span class="tag-avatar avatar" style="background-image: url('<%= assignment.user.profile.image(:tiny)%>')"></span>
          <%= truncate(assignment.user.profile.name, length: 15)%>
        </span>
        <%end%>
      </div>
    </div>
    <div class='col-md-5 col-lg-5'>
      <div class="form-group small">
        <label class= "form-label" style='color: #7795c1;'><%=t :milestone%></label>
        <div class="form-control-plaintext"><%= @task.milestone.title %></div>
      </div>
      <div class="form-group small">
        <label class= "form-label" style='color: #7795c1;'><%=t :deadline%></label>
        <div class="form-control-plaintext text-justify">
          <span>
            <% if !@task.deadline.blank?%>
              <% @jalali = JalaliDate.to_jalali(@task.deadline)%>
              <%= @jalali.year%>/<%= @jalali.month%>/<%= @jalali.day%> (<%= task.deadline_time.strftime('%H:%M')%>)
            <%end%>
          </span>
        </div>
      </div>
      <div class="form-group small">
        <label class= "form-label" style='color: #7795c1;'><%=t :status%></label>
        <% if !@task.status.blank?%>
        <div class="form-control-plaintext text-justify"><%= @task.status.title %></div>
        <%end%>
      </div>
    </div>
  </div>
  <hr class="mt-1 mb-1" />
  <div class="col-12 pt-2">
    <ul class="list-group card-list-group pr-4">
      <%for discussion in @task.discussions%>
      <li class="list-group-item p-1">
        <div class="media">
          <div class="media-object avatar avatar-md" style="background-image: url(<%= discussion.user.profile.image('thumb')%>)"></div>
          <div class="media-body">
            <div class="media-heading">
              <small class="float-right text-muted">
                <%= link_to discussion, method: :delete, remote: true ,class: "icon" ,data: { confirm: t(:are_you_sure) } do %>
                <i class="fe fe-trash" style="vertical-align:-2px"></i>
                <%end%>
              </small>
              <small class="time float-right text-muted"> <%= discussion.created_at%> </small>

              <span class="small"><%= discussion.user.profile.name%></span>
            </div>
            <div class="img-flex">
              <%= sanitize discussion.content %>
            </div>
          </div>
        </div>

      </li>
      <%end%>
      <script>
      $( ".time" ).each(function( index ) {
        $( this ).text(moment($( this ).text()).fromNow());
      });
      </script>
    </ul>
  </div>
      <div class="col-12 pt-2">
    <%= form_for Discussion.new, remote: true do |f|%>
    <%= hidden_field_tag :task_id, @task.id%>
    <%= hidden_field_tag :content%>
    <div id='toolbar' style='display:none;'></div>
    <trix-editor input="content" toolbar="toolbar"></trix-editor>
    <%end%>

    <div class="text-right mt-2 mb-2">
      <button id='submit-btn' type="submit" class="btn btn-sm btn-primary"><%=t :submit%></button>
    </div>
    <script>
    $( "#submit-btn" ).click(function() {
      console.log('clicked');
      $( "#new_discussion" ).submit();
    });
    </script>
  </div>

</div>
