<div id='advertiser-box'>
  <div class="form-group">
    <%= label :advertiser, :title , class: "form-label", style: 'color: #7795c1;'%>
    <div class="form-control-plaintext"><%= advertiser.title %></div>
  </div>
  <div class="form-group">
    <%= label :advertiser, :details , class: "form-label", style: 'color: #7795c1;'%>
    <div class="form-control-plaintext text-justify"><%= advertiser.details %></div>
  </div>
  <div class="form-group">
    <%= label :advertiser, :user_id , class: "form-label", style: 'color: #7795c1;'%>
    <div class="form-control-plaintext"><%= advertiser.user_id %></div>
  </div>
</div>
