<div id="event_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <i class="far fa-comments" style='vertical-align: -3px;'></i>&nbsp<%=t :new_discussion %>
        <button type="button" class="close" data-dismiss="modal"></button>
      </div>
      <%= form_tag '/events', remote: true do |f| %>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label class="form-label"><%=t :title %></label>
              <%= text_field_tag :starts_at, nil,class: "form-control" %>
              <%= text_field_tag :ends_at, nil,class: "form-control" %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-secondary"><%=t :submit %></button>
      </div>
      <% end %>
    </div>
  </div>
</div>
