<div id='project-box'>

  <div class='card-inner'>
  <div class='row'>
    <div class='col-md-12'>
      <%= link_to "/milestones/new?project_id=#{project.id}", remote: true, class: "btn btn-sm btn-secondary" do %>
      <i class="fe fe-plus"></i> <%=t :new_milestone%>
      <%end%>
      <%= link_to "/milestones/new?project_id=#{project.id}", remote: true, class: "btn btn-sm btn-secondary" do %>
      <i class="fe fe-list"></i> <%=t :milestones_list%>
      <%end%>
    </div>
  </div>
</div>
  <div class="card-body">
  <%= form_for milestone, remote: true, id: 'event-form' do |f| %>

  <div class="row">
    <div class="col-md-5">
      <div class="form-group">
        <label class="form-label"><%=t :title %></label>
        <%= f.text_field :title, class: "form-control", required: true %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="form-group">
        <label class="form-label"><%=t :details %></label>
        <%= f.text_area :details, class: "form-control" %>
      </div>
    </div>
    <%= f.hidden_field :project_id, value: params[:id]%>
    <div class="col-md-2">
      <label class="form-label">&nbsp</label>
      <button type="submit" id="modal-btn" class="btn btn-success"><%=t :submit %></button>
    </div>
  </div>
  <% end %>

  <div class="table-responsive">
    <table class="table table-hover table-outline table-vcenter text-nowrap">
      <thead>
        <tr>
          <td>#</td>
          <td><%=t :title %></td>
          <td><%=t :created_at %></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% @i =1%>
        <% for milestone in project.milestones%>
        <tr>
          <td><%= @i%><% @i += 1%></td>
          <td><%= milestone.title%></td>
          <td>
            <span>
              <% @jalali = JalaliDate.to_jalali(milestone.created_at)%>
              <%= @jalali.year%>/<%= @jalali.month%>/<%= @jalali.day%>
            </span>
          </td>
          <td>
            <%= link_to "/milestones/#{milestone.id}/destroy", remote: true, class: "icon" ,data: { confirm: t(:are_you_sure) } do %>
            <i class="fe fe-trash"></i>
            <%end%>
          </td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
