<div class="card">
  <div class="card-header">
    <h3 class="card-title"></h3>
    <div class="card-options">
      <%= link_to "/projects/subscribers/#{project.id}", remote: true, class: "btn btn-sm btn-secondary" do %>
      <i class="fas fa-link"></i> <%=t :participate%>
      <%end%>

      <%= link_to "/projects/subscribers/#{project.id}", remote: true, class: "btn btn-sm btn-secondary" do %>
      <i class="fas fa-users"></i> <%=t :users%>
      <%end%>

      <%= link_to "/projects/tasks/#{project.id}", remote: true, class: "btn btn-sm btn-secondary" do %>
      <i class="fas fa-tasks"></i> <%=t :tasks%>
      <%end%>

      <%= link_to "/projects/milestones/#{project.id}", remote: true, class: "btn btn-sm btn-secondary" do %>
      <i class="far fa-flag"></i> <%=t :milestones%>
      <%end%>



      <%= link_to "/projects/details/#{project.id}", remote: true, class: "btn btn-sm btn-secondary" do %>
      <i class="fe fe-play"></i> <%=t :details%>
      <%end%>
      <a href="/projects/<%=project.uuid%>/edit" class='btn btn-sm btn-secondary'><i class="fe fe-edit" style="vertical-align:-3px;"></i> <%=t :edit%></a>
    </div>
  </div>
    <%= render partial: 'projects/project_details', locals: {project: @project}%>
</div>
